body{
    background-color: rgb(207, 200, 200);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
input{
    font-family: Arial, Helvetica, sans-serif;
}
.codigo{
    text-align: center;
    font: bold 15px arial, sans-serif;
    padding-left: 15%;
}
h1{
    text-align: center;
}
.principal{
    border: rgb(32, 32, 32) 10px ridge;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.detalhe{
    padding-bottom: 20px;
    background: black;
    color: white;
    border-style: outset;
    border-color: black;
    height: 10px;
    width: 160px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}
.atualizar{
    padding-bottom: 20px;
    background: black;
    color: white;
    border-style: outset;
    border-color: black;
    height: 10px;
    width: 160px;
    font: bold 15px arial, sans-serif;
    text-shadow: none
}
.cancelar{
    padding-bottom: 20px;
    background: black;
    color: white;
    border-style: outset;
    border-color: black;
    height: 10px;
    width: 160px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}
.data{
    padding-bottom: 20px;
    background: white;
    color: black;
    border-style: outset;
    border-color: black;
    height: 10px;
    width: 115px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}
.botoes{
    text-align: center;
    font:font: bold 15px arial, sans-serif; ;
}
.xain{
    text-align: center;
    padding-left: 10px;
}
.rodape1{
    font: bold 15px arial, sans-serif;
    background-color: white;
}
.rodape2{
    font: bold 15px arial, sans-serif;
    background-color: white;
    text-align: center;
    margin-top: 500px;
}